@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased text-gray-900 bg-gray-50 dark:bg-[#161616] dark:text-neutral-100;
  }
}

/* ── Scroll custom ──────────────────────────────────────────────────────────── */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full dark:bg-neutral-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-neutral-600;
}